### Current coverage is `{{ "%.2f"|format(report.total_coverage) }}%`
{% for file_change in report.file_changes %}{% if loop.first %}| Files changed | Coverage | - |
| ------------- | -------- | --- |
{% endif %}| {{ file_change.name }} | `{{ "%.2f"|format(file_change.coverage) }}%` | {{ file_change.emoji }} |
{% else %}No source changes affecting the coverage found
{% endfor %}